<p id="notice"><%= notice %></p>

<h1>Usuario: </h1>
<% if usuario_signed_in? %>
  <div>Olá, <%= current_usuario.nome %></div>
<% end %>

<div>
  Por favor complete seu cadastro!
</div>

<% if current_usuario.dieta %>
<br>
  Ja tem dieta feita
<% end %>
<br>

<%=  %>
