<p id="notice"><%= notice %></p>

<h1>Usuario: </h1>
<% if usuario_signed_in? %>
  <div>Olá, <%= current_usuario.nome %></div>
<% end %>


<% if current_usuario.dieta %>
<br>

<% else %>

<% end %>
<br>
